@media screen and (min-width:768px) {
    .ham-btn {
        display: none;
    }
    .menu-overlay {
        display: none;
    }
    .logo {
        width: auto;
        padding-left: 0;
        max-width: 20%;
        top: 8%;
        bottom: 0;
        margin:auto;
    }
    .menu {
        display: block;
        position: absolute;
        top:10%;
        padding-bottom: 0px;
        /* left:90%; */
        right: 5%;
        width: auto;
        height: auto;
    }
    .menu-btn {
        width: 4vw;
        min-width: 4vw;
        height: 4vw;
        min-height: 4vw;
        border-radius: 50%;
        margin: 2.5vh 0;
        margin-left: 20vw;
        transition: .25s cubic-bezier(1, 0, 1, 1);
    }
    .menu-text {
        font-size: 2.5vw;
         padding-bottom: 0;
        padding-top: 0;
        color:rgba(255,255,255,0);
        top:22%;
    }
    .menu-btn:hover {
        width:25vw;
        margin-left: 0;
        border-radius: 36px;
        cursor: pointer;
    }
    .menu-btn:hover .menu-text {
        display: block;
        color: rgba(255,255,255,1);
        animation-name: animate;
        animation-duration: 1s;

    }
    @keyframes animate {
        0%{
            color:rgba(255,255,255,0);
        }
        25%{
            color:rgba(255,255,255,0);            
        }
        100%{
            color:rgba(255,255,255,1);
        }
    }
}