@media screen and (min-width:768px) {
    .ham-btn {
        display: none;
    }
    .menu-overlay {
        display: none;
    }
    .logo {
        padding-left: 0;
        max-width: 100%;
    }
    .menu {
        display: block;
        position: absolute;
        top:10%;
        /* left:90%; */
        right: 5%;
        width: auto;
        height: auto;
    }
    .menu-btn {
        width: 5vw;
        min-width: 5vw;
        height: 5vw;
        min-height: 5vw;
        border-radius: 50%;
        margin: 2.5vh 0;
        margin-left: 20vw;
        transition: .25s ease-in;
    }
    .menu-text {
        font-size: 3vw;
        color:#ffffff00;
        top:22%;
    }
    .menu-btn:hover {
        width:25vw;
        margin-left: 0;
        border-radius: 10px;
    }
    .menu-btn:hover .menu-text {
        display: block;
        color: #ffffffff;
        animation-name: animate;
        animation-duration: 1s;

    }
    @keyframes animate {
        from{
            color: #ffffff00;
        }
        to{
            color: #ffffffff;
        }
    }
}